name: Deploy to Server

  on:
    push:
      branches:
        - main

  jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Deploy via rsync
          uses: burnett01/rsync-deployments@6.0.0
          with:
            switches: -avzr --delete --exclude='.git*' --exclude='.github'
            path: ./
            remote_path: ${{ secrets.REMOTE_PATH }}
            remote_host: ${{ secrets.REMOTE_HOST }}
            remote_user: ${{ secrets.REMOTE_USER }}
            remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
